nodered.txt
[{"id":"ea5afff6.a0d51","type":"function","z":"dbc89d9d.9d28f","name":"","func":"\nmsg.payload = msg.payload || ''\nreturn msg;","outputs":1,"noerr":0,"x":806.5,"y":197,"wires":[["c14bc6ee.daaed","e5285f97.064278"]]},{"id":"19027763.d0f5e9","type":"function","z":"dbc89d9d.9d28f","name":"","func":"\nmsg.payload = \"BE CAREFUL\"|| ''\nreturn msg;","outputs":1,"noerr":0,"x":812,"y":382,"wires":[["55cc7fc0.0e62a","c36aa26f.3bfa4"]]},{"id":"9767f08f.078cf8","type":"function","z":"dbc89d9d.9d28f","name":"","func":"\n\nreturn msg;","outputs":1,"noerr":0,"x":302.5,"y":91,"wires":[["ea5afff6.a0d51"]]},{"id":"55cc7fc0.0e62a","type":"websocket out","z":"dbc89d9d.9d28f","name":"","server":"a7db9c6a.cd6b5","client":"","x":1020,"y":415,"wires":[]},{"id":"c36aa26f.3bfa4","type":"http response","z":"dbc89d9d.9d28f","name":"","statusCode":"","headers":{},"x":996.5,"y":376,"wires":[]},{"id":"eab4b78a.c82ed","type":"change","z":"dbc89d9d.9d28f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.query","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":374,"y":394,"wires":[["19027763.d0f5e9"]]},{"id":"a27b598.b232e28","type":"function","z":"dbc89d9d.9d28f","name":"BEcareful","func":"msg.payload = \"BE CAREFUL\"\nreturn msg;","outputs":1,"noerr":0,"x":403.5,"y":353,"wires":[["19027763.d0f5e9"]]},{"id":"d3af915e.d11fe","type":"function","z":"dbc89d9d.9d28f","name":"none","func":"msg.payload = \"0\"\nreturn msg;","outputs":1,"noerr":0,"x":413.5,"y":441,"wires":[["19027763.d0f5e9"]]},{"id":"fe87c6f3.d0f9c","type":"http in","z":"dbc89d9d.9d28f","name":"","url":"/main","method":"get","upload":false,"swaggerDoc":"","x":69.5,"y":199,"wires":[["9767f08f.078cf8","84f49450.4697a8"]]},{"id":"d0725c65.2ce878","type":"http in","z":"dbc89d9d.9d28f","name":"","url":"/prediction","method":"get","upload":false,"swaggerDoc":"","x":169,"y":393,"wires":[["eab4b78a.c82ed"]]},{"id":"20bb81a6.62bc06","type":"inject","z":"dbc89d9d.9d28f","name":"on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":165.5,"y":351,"wires":[["a27b598.b232e28"]]},{"id":"98812fe6.5849a","type":"inject","z":"dbc89d9d.9d28f","name":"off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":169.5,"y":441,"wires":[["d3af915e.d11fe"]]},{"id":"84f49450.4697a8","type":"debug","z":"dbc89d9d.9d28f","name":"","active":true,"console":"false","complete":"false","x":293.5,"y":29,"wires":[]},{"id":"7e61b245.b17884","type":"function","z":"dbc89d9d.9d28f","name":"","func":"\nmsg.payload = \"CRASHED\" || ''\nreturn msg;","outputs":1,"noerr":0,"x":822,"y":550,"wires":[["90b203b3.7a3f08","a9936898.431d88"]]},{"id":"c14bc6ee.daaed","type":"websocket out","z":"dbc89d9d.9d28f","name":"","server":"e3c0816d.39f698","client":"","x":1034.5,"y":234,"wires":[]},{"id":"e5285f97.064278","type":"http response","z":"dbc89d9d.9d28f","name":"","statusCode":"","headers":{},"x":1010.5,"y":189,"wires":[]},{"id":"8a1777f8.d8b96","type":"change","z":"dbc89d9d.9d28f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.query","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":374.5,"y":200,"wires":[["ea5afff6.a0d51"]]},{"id":"eac26a7a.cad558","type":"function","z":"dbc89d9d.9d28f","name":"1m","func":"msg.payload = \"1m\"\nreturn msg;","outputs":1,"noerr":0,"x":398.5,"y":157,"wires":[["ea5afff6.a0d51"]]},{"id":"f4329779.e1ccc","type":"function","z":"dbc89d9d.9d28f","name":"3m","func":"msg.payload= \"3m\"\nreturn msg;","outputs":1,"noerr":0,"x":411.5,"y":255,"wires":[["ea5afff6.a0d51"]]},{"id":"90b203b3.7a3f08","type":"websocket out","z":"dbc89d9d.9d28f","name":"","server":"73cf3614.aa5428","client":"","x":1000,"y":549,"wires":[]},{"id":"a9936898.431d88","type":"http response","z":"dbc89d9d.9d28f","name":"","statusCode":"","headers":{},"x":976.5,"y":598,"wires":[]},{"id":"cece4e1a.fadd18","type":"change","z":"dbc89d9d.9d28f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.query","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":374,"y":557,"wires":[["7e61b245.b17884"]]},{"id":"91eac7e1.400b78","type":"function","z":"dbc89d9d.9d28f","name":"ICE STORM","func":"msg.payload = \"ICE STORM\"\nreturn msg;","outputs":1,"noerr":0,"x":392.5,"y":507,"wires":[["7e61b245.b17884"]]},{"id":"c61346f4.47961","type":"function","z":"dbc89d9d.9d28f","name":"none","func":"msg.payload = \"0\"\nreturn msg;","outputs":1,"noerr":0,"x":412.5,"y":607,"wires":[["7e61b245.b17884"]]},{"id":"13bf7014.8126a","type":"inject","z":"dbc89d9d.9d28f","name":"1m","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":84.5,"y":124,"wires":[["eac26a7a.cad558"]]},{"id":"5aa7c463.20068c","type":"inject","z":"dbc89d9d.9d28f","name":"3m","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":167.5,"y":257,"wires":[["f4329779.e1ccc"]]},{"id":"2f938d80.2d45fa","type":"http in","z":"dbc89d9d.9d28f","name":"","url":"/emargency","method":"get","upload":false,"swaggerDoc":"","x":188,"y":558,"wires":[["cece4e1a.fadd18"]]},{"id":"a4503199.4f64f","type":"inject","z":"dbc89d9d.9d28f","name":"on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":174.5,"y":505,"wires":[["91eac7e1.400b78"]]},{"id":"4026ce75.595ec8","type":"inject","z":"dbc89d9d.9d28f","name":"off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":171.5,"y":608,"wires":[["c61346f4.47961"]]},{"id":"a7db9c6a.cd6b5","type":"websocket-listener","z":"","path":"/ws/pdt","wholemsg":"false"},{"id":"e3c0816d.39f698","type":"websocket-listener","z":"","path":"/ws/msg","wholemsg":"false"},{"id":"73cf3614.aa5428","type":"websocket-listener","z":"","path":"/ws/emg","wholemsg":"false"}]

